* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #0000FF;
  background-color: #FAA500;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  width: 600px;
  padding-top: 100px;
}

.container form label {
  display: block;
  margin-bottom: 0.8em;
  font-weight: bold;
}

.container form input {
  color:  inherit;
  background-color: rgba( 255, 255, 255, 0);
  padding: 0.2em;
  border: none;
  border-bottom: solid 2px (255, 255, 255, 0.2);
  border-radius: 8px 8px 0 0;
  font-size: 3.5rem;
  font-weight: bold;
  width: 100%;
  outline: none;
  transition: background-color 0.5s ease-in;
}

.container form input:focus {
  background-color: rgba( 255, 255, 255, 0.05);
}

.container .buscarResultados ul {
  overflow: hidden;
}

.container .buscarResultados ul li {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2.5rem;
  color: rgba(255, 255, 255, 0.5);
}

.container label {
  display: flex;
  justify-content: center;
}

.container .buscarResultados ul li:hover {
  cursor: pointer;
  color: rgba( 255, 255, 255, 0.8);
  background-color: rgba( 255, 255, 255, 0.05);
}
.container .buscarResultados ul li span {
padding-left: 1ch;
}
